<h1>Contact</h1>

<ul>
  <li><a href='/'>Home</a> </li>
  <li><a href='/about'>About</a></li>
</ul>

<form method='post' action='send'>
  <div class='row'>
    <div class='six columns'>
      <label for='exampleEmailInput'>Your email</label>
      <input
        name='userEmail'
        class='u-full-width'
        type='email'
        placeholder='test@mailbox.com'
        id='exampleEmailInput'
      />
    </div>
    <div class='six columns'>
      <label for='exampleEmailInput'>Your name</label>
      <input
        name='userName'
        class='u-full-width'
        type='text'
        placeholder='Name'
        id='exampleEmailInput'
      />
    </div>
  </div>
  <label for='exampleMessage'>Message</label>
  <textarea
    name='userMessage'
    class='u-full-width'
    placeholder='Hi Dave …'
    id='exampleMessage'
  ></textarea>
  <input class='button-primary' type='submit' value='Submit' />
</form>